﻿@model Skans.Models.Registration

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    @*<script type="text/javascript" srchttps://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>*@
    <script src="~/Scripts/jquery-2.2.3.min.js"></script>
    <script type="text/javascript" src="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script src="~/Scripts/bootstrapValidator.js"></script>


    <link rel="stylesheet" href="~/Content/bootstrap.min.css">
    <link href="~/Content/bootstrap-datetimepicker.min.css" rel="stylesheet" />
    <script src="~/Scripts/moment.min.js"></script>
    <script src="~/Scripts/moment.js"></script>
    <script src="~/Scripts/bootstrap-datetimepicker.min.js"></script>
    <script type="text/javascript" src="~/Scripts/moment.min.js"></script>

    <script type="text/javascript" src="~/Scripts/bootstrap-datetimepicker.js"></script>



    <title></title>
    <script type="text/javascript">
        $(document).ready(function () {
            //$('#collapse1').on('hide.bs.collapse', function () {
            //    $('#c1').html('<span class="glyphicon glyphicon-plus"></span> Registration Detail');
            //})
            $('#collapse1').on('show.bs.collapse', function () {
                $('#c1').html('<span class="glyphicon glyphicon-minus"></span> Registration Detail');
           })
            $('#collapse2').on('hide.bs.collapse', function () {
                $('#c2').html('<span class="glyphicon glyphicon-plus"></span> Personal Detail');
            })
            $('#collapse2').on('show.bs.collapse', function () {
                $('#c2').html('<span class="glyphicon glyphicon-minus"></span> Personal Detail');
            })
            $('#collapse3').on('hide.bs.collapse', function () {
                $('#c3').html('<span class="glyphicon glyphicon-plus"></span> Communication Detail');
            })
            $('#collapse3').on('show.bs.collapse', function () {
                $('#c3').html('<span class="glyphicon glyphicon-minus"></span> Communication Detail');
            })
            $('#collapse4').on('hide.bs.collapse', function () {
                $('#c4').html('<span class="glyphicon glyphicon-plus"></span> Father/Guardian Detail');
            })
            $('#collapse4').on('show.bs.collapse', function () {
                $('#c4').html('<span class="glyphicon glyphicon-minus"></span> Father/Guardian Detail');
            })
            $('#collapse5').on('hide.bs.collapse', function () {
                $('#c5').html('<span class="glyphicon glyphicon-plus"></span> Registration Detail');
            })
            $('#collapse5').on('show.bs.collapse', function () {
                $('#c5').html('<span class="glyphicon glyphicon-minus"></span> Registration Detail');
            })
            $('#collapse6').on('hide.bs.collapse', function () {
                $('#c6').html('<span class="glyphicon glyphicon-plus"></span> Educational Background');
            })
            $('#collapse6').on('show.bs.collapse', function () {
                $('#c6').html('<span class="glyphicon glyphicon-minus"></span> Educational Background');
            })
        });
    </script>


    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body data-spy="scroll" data-target="#myScrollspy" data-offset="20">
    <div class="container">
        @using (Html.BeginForm(new { @class = "well form-horizontal form-group" }))
        {
            @Html.AntiForgeryToken()
            <fieldset>

                <div class="form-horizontal">

                    <h2>Registration</h2>
                    <hr />
                    @Html.ValidationSummary(true)
                    <!--registration panel-->
                    <div class="panel-group ">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a id="c1"data-toggle="collapse" href="#collapse1"><span class="glyphicon glyphicon-plus"></span> Registration Detail</a>
                                </h4>
                            </div>
                            <div id="collapse1" class=" collapse">
                                <div class="panel-body">

                                    <!--text input-->
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Course</label>
                                        <div class="col-md-4 selectContainer">
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
                                                <select name="selct" class="form-control selectpicker">
                                                    <option value="0">Please select your course</option>
                                                    <option value="1">ACCA</option>
                                                    <option value="2">B.com.(Hons.)(GCU)</option>
                                                    <option value="3">B.Sc.(Hons.)(OBU)</option>
                                                    <option value="4">B.Sc.(Hons.)BA & F(GCU)</option>
                                                    <option value="5">CA</option>
                                                    <option value="6">CFA</option>
                                                    <option value="7">CIMA</option>
                                                    <option value="8">CIA</option>
                                                    <option value="9">CISA</option>
                                                    <option value="10">CMA</option>
                                                    <option value="11">DEmpS</option>
                                                    <option value="12">FD</option>
                                                    <option value="13">ICAEW</option>
                                                    <option value="14">M.Sc.(Professional Accountancy)</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <!--text input-->
                                    <!--text input-->
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Registration Type</label>
                                        <div class="col-md-4 selectContainer">
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
                                                <select name="selct" class="form-control selectpicker">
                                                    <option value="0">Select Registration Type</option>
                                                    <option value="1">Admission Application Form(Registration Fee) </option>
                                                    <option value="2">Continuation Form(No Registration Fee)</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <!--text input-->
                                    <div class="form-group">
                                        <label class="col-md-4 control-label"> Entry level</label>
                                        <div class="col-md-4 selectContainer">
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
                                                <select name="selct" class="form-control selectpicker">
                                                    <option value="0">Select Entry level</option>
                                                    <option value="1">PER(Without Exemptions) </option>
                                                    <option value="2">With Exemptions</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <!--text input-->

                                </div>
                            </div>
                        </div>
                    </div>
                    <!--registration panel end here-->
                    <!--Personal Detail panel-->
                    <div class="panel-group ">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a id="c2" data-toggle="collapse" href="#collapse2"><span class="glyphicon glyphicon-plus"></span> Personal Detail</a>
                                </h4>
                            </div>
                            <div id="collapse2" class=" collapse">
                                <div class="panel-body">

                                    <!--text input-->
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">First Name</label>
                                        <div class="col-md-4 inputGroupContainer">
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                                @Html.EditorFor(m => m.First_name, new { htmlAttributes = new { @class = "form-control" ,placeholder="First Name",required="ture",pattern="[A-Za-z]+${3,50}", title="Only Letters Allowed" } })
                                            </div>
                                        </div>
                                    </div>
                                    <!--text input-->
                                    <!--text input-->
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Gender</label>
                                        <div class="col-md-4">
                                            <div class="radio">
                                                <label>
                                                    @Html.RadioButtonFor(m => m.Gender, "Male", new { @checked = "checked" }) Male
                                                </label>
                                                <label>
                                                    @Html.RadioButtonFor(m => m.Gender, "Female") Female
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <!--text input-->
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Date of Birth</label>
                                        <div class="col-md-4 inputGroupContainer">
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                                @Html.EditorFor(m => m.DOB, new { htmlAttributes = new { @class = "form-control", type = "date", min = "1930-01-01", max = "2100-12-31", required = "ture" } })
                                            </div>
                                        </div>
                                    </div>

                                    <!--text input-->

                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Personal detail panel end here-->
                    <!--Contact Detail panel-->
                    <div class="panel-group ">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a id="c3" data-toggle="collapse" href="#collapse3"><span class="glyphicon glyphicon-plus"></span> Contact Detail</a>
                                </h4>
                            </div>
                            <div id="collapse3" class=" collapse">
                                <div class="panel-body">

                                    <!--text input-->
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">SMS No.</label>
                                        <div class="col-md-4 inputGroupContainer">
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                                                @Html.EditorFor(m => m.Sms_No, new { htmlAttributes = new { @class = "form-control", placeholder = "0321-7123456", required = "ture", pattern = "[0-9]{4}-[0-9]{7}" } })
                                            </div>
                                        </div>
                                    </div>
                                    <!--text input-->
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Mobile No.(Alternative)</label>
                                        <div class="col-md-4 inputGroupContainer">
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                                                @*<input name="Mobile_No" placeholder="+92YYYXXXXZZZ" class="form-control" type="text" />*@
                                                @Html.EditorFor(m => m.Mobile2, new { htmlAttributes = new { @class = "form-control", placeholder = "0321-7123456", required = "ture", pattern = "[0-9]{4}-[0-9]{7}" } })
                                            </div>
                                        </div>
                                    </div>
                                    <!--text input-->
                                    <!--text input-->
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Landline No.</label>
                                        <div class="col-md-4 inputGroupContainer">
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="glyphicon glyphicon-phone-alt"></i></span>
                                                @*<input name="Landline_No" placeholder="YYYYXXXXXXX" class="form-control" type="text" />*@
                                                @Html.EditorFor(m => m.Landline, new { htmlAttributes = new { @class = "form-control", placeholder = "O423-7123456", required = "ture", pattern = "[0-9]{4}-[0-9]{7}" } })
                                            </div>
                                        </div>
                                    </div>

                                    <!--text input-->
                                    <!--text input-->
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Email</label>
                                        <div class="col-md-4 inputGroupContainer">
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                                                @Html.EditorFor(m => m.Email, new { htmlAttributes = new { @class = "form-control", placeholder = "Email", required = "ture", type = "email" } })
                                            </div>
                                        </div>
                                    </div>
                                    <!--text input-->
                                    <!--text input-->
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">CNIC</label>
                                        <div class="col-md-4 inputGroupContainer">
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                                @*<input name="CNIC" placeholder="XXXXXYYYYYYYYZ" class="form-control" type="text" />*@
                                                @Html.EditorFor(m => m.CNIC, new { htmlAttributes = new { @class = "form-control", placeholder = "35202-1234567-5", required = "ture", pattern = "[0-9]{5}-[0-9]{7}-[0-9]{1}" } })
                                            </div>
                                        </div>
                                    </div>
                                    <!--text input-->
                                    <!--text input-->
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Other Identity</label>
                                        <div class="col-md-4 inputGroupContainer">
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                                @Html.EditorFor(m => m.Other_identity, new { htmlAttributes = new { @class = "form-control", placeholder = "Other Identity",} })
                                            </div>
                                        </div>
                                    </div>
                                    <!--text input-->
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Communication Address </label>
                                        <div class="col-md-4 inputGroupContainer">
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                                                @Html.EditorFor(m => m.Com_Address, new { htmlAttributes = new { @class = "form-control", placeholder = "Address", required = "ture" } })
                                            </div>
                                        </div>
                                    </div>
                                    <!--text input-->
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Permanent Address</label>
                                        <div class="col-md-4 inputGroupContainer">
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
                                                @Html.EditorFor(m => m.Per_Address, new { htmlAttributes = new { @class = "form-control", placeholder = "Address", required = "ture" } })
                                            </div>
                                        </div>
                                    </div>
                                    <!--text input-->


                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Contact detail panel end here-->
                    <!--Guardian Detail panel-->
                    <div class="panel-group ">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a id="c4" data-toggle="collapse" href="#collapse4"><span class="glyphicon glyphicon-plus"></span> Guardian/Father Detail</a>
                                </h4>
                            </div>
                            <div id="collapse4" class=" collapse">
                                <div class="panel-body">

                                    <!--text input-->
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Name</label>
                                        <div class="col-md-4 inputGroupContainer">
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                                @*<input name="Guard_name" class="form-control" type="text" />*@
                                                @Html.EditorFor(m => m.Guardian_Name, new { htmlAttributes = new { @class = "form-control", placeholder = "First Name", required = "ture", pattern = "[A-Za-z]+${3,50}", title = "Only Letters Allowed" } })
                                            </div>
                                        </div>
                                    </div>
                                    <!--text input-->
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Relation With Student</label>
                                        <div class="col-md-4 selectContainer">
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
                                                <select name="selct" class="form-control selectpicker">
                                                    <option value="0">Father of Student</option>
                                                    <option value="1">Mother of Student</option>
                                                    <option value="2">Brother of Student</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <!--text input-->
                                    <!--text input-->
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">CNIC</label>
                                        <div class="col-md-4 inputGroupContainer">
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                                @Html.EditorFor(m => m.G_CNIC, new { htmlAttributes = new { @class = "form-control", placeholder = "35202-1234567-5", required = "ture", pattern = "[0-9]{5}-[0-9]{7}-[0-9]{1}" } })
                                            </div>
                                        </div>
                                    </div>
                                    <!--text input-->
                                    <!--text input-->
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Occupation</label>
                                        <div class="col-md-4 inputGroupContainer">
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="glyphicon glyphicon-briefcase"></i></span>
                                                @Html.EditorFor(m => m.Occupation, new { htmlAttributes = new { @class = "form-control", placeholder = "Occupation", required = "ture", pattern = "[A-Za-z]+${3,50}", title = "Only Letters Allowed" } })
                                            </div>
                                        </div>
                                    </div>
                                    <!--text input-->
                                    <!--text input-->
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Mobile No.</label>
                                        <div class="col-md-4 inputGroupContainer">
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                                                @Html.EditorFor(m => m.G_MobNo, new { htmlAttributes = new { @class = "form-control", placeholder = "0321-7123456", required = "ture", pattern = "[0-9]{4}-[0-9]{7}" } })
                                            </div>
                                        </div>
                                    </div>
                                    <!--text input-->
                                    <!--text input-->
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Landline No.</label>
                                        <div class="col-md-4 inputGroupContainer">
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="glyphicon glyphicon-phone-alt"></i></span>
                                                @Html.EditorFor(m => m.G_landline, new { htmlAttributes = new { @class = "form-control", placeholder = "0423-7123456", required = "ture", pattern = "[0-9]{4}-[0-9]{7}" } })
                                            </div>
                                        </div>
                                    </div>

                                    <!--text input-->
                                    <!--text input-->
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Other Detail(Email etc)</label>
                                        <div class="col-md-4 inputGroupContainer">
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                                                @Html.EditorFor(m => m.G_OtherD, new { htmlAttributes = new { @class = "form-control" } })
                                            </div>
                                        </div>
                                    </div>
                                    <!--text input-->


                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Guardian detail panel end here-->
                    <!-- registration Detail panel-->
                    <div class="panel-group ">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a id="c5" data-toggle="collapse" href="#collapse5"><span class="glyphicon glyphicon-plus"></span> Registration Detail</a>
                                </h4>
                            </div>
                            <div id="collapse5" class=" collapse">
                                <div class="panel-body">

                                    <!--text input-->
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">FD Registration No</label>
                                        <div class="col-md-4 inputGroupContainer">
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                                                @Html.EditorFor(m => m.FD_reg, new { htmlAttributes = new { @class = "form-control" } })
                                            </div>
                                        </div>
                                    </div>
                                    <!--text input-->
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">ACCA Registration No</label>
                                        <div class="col-md-4 inputGroupContainer">
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                                                @Html.EditorFor(m => m.ACCA_reg, new { htmlAttributes = new { @class = "form-control" } })
                                            </div>
                                        </div>
                                    </div>
                                    <!--text input-->
                                    <!--text input-->
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">CIMA Registration No</label>
                                        <div class="col-md-4 inputGroupContainer">
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                                                @Html.EditorFor(m => m.CIMA_reg, new { htmlAttributes = new { @class = "form-control" } })
                                            </div>
                                        </div>
                                    </div>
                                    <!--text input-->
                                    <!--text input-->
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">CAT Registration No</label>
                                        <div class="col-md-4 inputGroupContainer">
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                                                @Html.EditorFor(m => m.CAT_reg, new { htmlAttributes = new { @class = "form-control" } })
                                            </div>
                                        </div>
                                    </div>
                                    <!--text input-->
                                    <!--text input-->
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">ICAP Registration No</label>
                                        <div class="col-md-4 inputGroupContainer">
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                                                @Html.EditorFor(m => m.ICAP_reg, new { htmlAttributes = new { @class = "form-control" } })
                                            </div>
                                        </div>
                                    </div>
                                    <!--text input-->
                                    <!--text input-->
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Pass Code</label>
                                        <div class="col-md-4 inputGroupContainer">
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                                                @Html.EditorFor(m => m.Pass_code, new { htmlAttributes = new { @class = "form-control" } })
                                            </div>
                                        </div>
                                    </div>

                                    <!--text input-->
                                    <!--text input-->
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">GCU Roll No</label>
                                        <div class="col-md-4 inputGroupContainer">
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                                                <input class="form-control-static" maxlength="4" name="P1" size="4" type="text"> -BHA- <select name="selct" class="form-control-static selectpicker">
                                                    <option value="0">BFA</option>
                                                    <option value="1">MA</option>
                                                    <option value="2">ACCA</option>
                                                </select>
                                                -SKANS- <input class="form-control-static" maxlength="2" name="P3" size="2" type="text">
                                            </div>
                                        </div>
                                    </div>
                                    <!--text input-->


                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Registration detail panel end here-->
                    <!--Educational Detail panel-->
                    <div class="panel-group ">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a id="c6" data-toggle="collapse" href="#collapse6"><span class="glyphicon glyphicon-plus"></span> Educational Background</a>
                                </h4>
                            </div>
                            <div id="collapse6" class="collapse">
                                <div class="panel-body">
                                    <!--first panel-->
                                    <div class="panel-group ">
                                        <div class="panel panel-default">

                                            <div class="panel-body">
                                                <!--text input-->
                                                <table class="table-responsive">
                                                    <tr>
                                                        <th>School/College Attended</th>
                                                        <th>Board</th>
                                                        <th>Qualification</th>
                                                        <th>Grades/Division</th>
                                                        <th>Board Roll No</th>
                                                        <th>Year</th>
                                                        <th>Marks/GPA</th>
                                                    </tr>
                                                    <tr>
                                                        <td><input name="S1" class="form-control" type="text" /></td>
                                                        <td><input name="B1" class="form-control" type="text" /></td>
                                                        <td><input name="Q1" class="form-control" type="text" /></td>
                                                        <td><input name="G1" class="form-control" type="text" /></td>
                                                        <td><input name="R1" class="form-control" type="text" /></td>
                                                        <td><input name="Y1" class="form-control " maxlength="4" type="text" /></td>
                                                        <td><input name="M1" class="form-control" maxlength="5" type="text" /></td>
                                                    </tr>
                                                    <tr>
                                                        <td><input name="S2" class="form-control" type="text" /></td>
                                                        <td><input name="B2" class="form-control" type="text" /></td>
                                                        <td><input name="Q2" class="form-control" type="text" /></td>
                                                        <td><input name="G2" class="form-control" type="text" /></td>
                                                        <td><input name="R2" class="form-control" type="text" /></td>
                                                        <td><input name="Y2" class="form-control" maxlength="4" type="text" /></td>
                                                        <td><input name="M2" class="form-control" maxlength="5" type="text" /></td>
                                                    </tr>
                                                    <tr>
                                                        <td><input name="S3" class="form-control" type="text" /></td>
                                                        <td><input name="B3" class="form-control" type="text" /></td>
                                                        <td><input name="Q3" class="form-control" type="text" /></td>
                                                        <td><input name="G3" class="form-control" type="text" /></td>
                                                        <td><input name="R3" class="form-control" type="text" /></td>
                                                        <td><input name="Y3" class="form-control" maxlength="4" type="text" /></td>
                                                        <td><input name="M3" class="form-control" maxlength="5" type="text" /></td>
                                                    </tr>
                                                    <tr>
                                                        <td><input name="S4" class="form-control" type="text" /></td>
                                                        <td><input name="B4" class="form-control" type="text" /></td>
                                                        <td><input name="Q4" class="form-control" type="text" /></td>
                                                        <td><input name="G4" class="form-control" type="text" /></td>
                                                        <td><input name="R4" class="form-control" type="text" /></td>
                                                        <td><input name="Y4" class="form-control" maxlength="4" type="text" /></td>
                                                        <td><input name="M4" class="form-control" maxlength="5" type="text" /></td>
                                                    </tr>
                                                </table>
                                                <!--text input-->




                                            </div>
                                        </div>
                                    </div>
                                    <!--first panel-->
                                    <!--second panel-->
                                    <div class="panel-group ">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                                    <a>Last Insitute Attended</a>
                                                </h4>
                                            </div>
                                            <div class="panel-body">

                                                <div>
                                                    @Html.EditorFor(m => m.Last_School)
                                                </div>


                                            </div>
                                        </div>
                                    </div>
                                    <!--second panel-->
                                    <!--third panel-->
                                    <div class="panel-group ">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                                    <a>Other Educational Detail</a>
                                                </h4>
                                            </div>
                                            <div class="panel-body">

                                                <div>
                                                    <input type="text" class="form-control " />
                                                </div>


                                            </div>
                                        </div>
                                    </div>
                                    <!--third panel-->
                                    <!--Fourth panel-->
                                    <div class="panel-group ">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                                    <a>Job Experience(if any)</a>
                                                </h4>
                                            </div>
                                            <div class="panel-body">

                                                <div>
                                                    <input type="text" class="form-control " />
                                                </div>


                                            </div>
                                        </div>
                                    </div>
                                    <!--fourth panel-->
                                    <!--fifth panel-->
                                    <div class="panel-group ">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                                    <a>Comments</a>
                                                </h4>
                                            </div>
                                            <div class="panel-body">

                                                <div>
                                                    <input type="text" class="form-control " />
                                                </div>


                                            </div>
                                        </div>
                                    </div>
                                    <!--fifth panel-->


                                </div>
                            </div>
                            </div>
                    </div>


                    <!--EDucational detail panel end here-->



                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Submit" class="btn btn-primary" />     <input type="submit" value="Reset" class="btn btn-danger" />

                        </div>
                    </div>
                </div>
            </fieldset>
        }

        <div>
            @Html.ActionLink("Back to List", "Index")
        </div>
    </div>
</body>