﻿@model Skans.Models.Inquiry

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>

    <title></title>
</head>
<body>
    <h2>Summary</h2>
    <div class="row">
        <div class="col-md-10">

            <hr />


            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.UserName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.UserName)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.InquiryStatus_code)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.InquiryStatus_code)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.FirstName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.FirstName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.LastName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.LastName)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Relation)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Relation)
                </dd>


                <dt>
                    @Html.DisplayNameFor(model => model.DOB)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.DOB)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.gender)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.gender)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Qualification)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Qualification)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.lastSession)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.lastSession)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Email)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Email)
                </dd>



                <dt>
                    @Html.DisplayNameFor(model => model.Phone)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Phone)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.MobileNo)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.MobileNo)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Address)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Address)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.City)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.City)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Inquiry_Mod)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Inquiry_Mod)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Info_Source)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Info_Source)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Inquiry_Type)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Inquiry_Type)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.DateOfInquiry)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.DateOfInquiry)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.CityCampus)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.CityCampus)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Branch)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Branch)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Course)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Course)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Others_Course)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Others_Course)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Inquiry_Status)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Inquiry_Status)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Skan_id)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Skan_id)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Course_Enrolled)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Course_Enrolled)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Comments)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Comments)
                </dd>

            </dl>
        </div>
        <hr />
        <div class="col-md-2">
            @if (ViewBag.hideAvoid != "true")
            {
                        using (Ajax.BeginForm("Verify", "Home", new AjaxOptions
            {
                HttpMethod = "post",
                InsertionMode = InsertionMode.Replace,
                UpdateTargetId = "verify"
            }))
            {

                ViewBag.idpack = Model.Inquiry_ID;
                if (ViewBag.hide == "false")
                {


                    if (ViewBag.fail != "true")
                    {

                        <input name="Verify" type="submit" value="Verify the code" class="btn btn-warning btn-block" />

                    }
                    else
                    {
                        <input name="Try" type="submit" value="Try Again" class="btn btn-danger btn-block" />
                    }
//                  <input type="text" class="form-control" data-mask="999-99-999-9999-9" placeholder="ISBN">
<input name="code" size="5" maxlength="5" type="text" class="form-control" required pattern="[0-9]{4,}" placeholder="12345" data-mask="99-999" align="middle" />
                    @Html.Hidden("id", (object)Convert.ToInt32(ViewBag.idpack))

                    <hr />
                }

            }

            using (Ajax.BeginForm("Resend", "Home", new AjaxOptions
            {
                HttpMethod = "post",
                InsertionMode = InsertionMode.Replace,
                UpdateTargetId = "resend"
            }))
            {

                <input name="Resend" type="submit" value="Resend Code" class="btn btn-warning btn-block" />
                @Html.EditorFor(m => m.MobileNo, new { htmlAttributes = new { @class = "form-control", placeholder = "03451234567", required = "ture", pattern = "[0-9]{11}",name="MobileNo"} })
                    @Html.Hidden("Rid", (object)Convert.ToInt32(ViewBag.idpack))
                <div class="editorContainer">
            
        </div>    
                <hr />
                

            }

          
          
            @Html.ActionLink("Edit", "Edit", "Home", new { id = Model.Inquiry_ID }, new { @class = "btn btn-warning btn-block" }) <hr />
    @Html.ActionLink("Register", "Registration", "Registration", new { id = Model.Inquiry_ID }, new { @class = "btn btn-warning btn-block" }) <hr />
            }
           
            @Html.ActionLink("Follow Ups", "FollowUp", "Home", new { id = Model.Inquiry_ID }, new { @class = "btn btn-danger btn-block" })
            
            @Html.ActionLink("Back to List", "ShowList", "Home", new { id = Model.Inquiry_ID }, new { @class = "btn btn-success btn-block" })
        </div>

    </div>




</body>


@*<script>
$().ready(setupMaskInputs: function () {
    // Any view model property that has a [DataType(DataType.PhoneNumber)] attribute, renders type=tel
    if ($("input[type='tel']").length > 0) {
        $("input[type='tel']").mask("(999) 999-9999? ext.9999", { placeholder: " " });
    }

    // @Html.EditorFor is used to render any inputs that need the html 5 type attributes.
    // But @Html.EditorFor, won't allow you to add a css class, so we do it here.
    $('input[type=text],input[type=tel],input[type=datetime],input[type=date],input[type=number],input[type=password],textarea,input[type=email],input[type=url],input[type=zip]').each(function (idx, item) {
    if (!$(item).hasClass('form-control'))
    $(item).addClass('form-control');
    });
})


    </script>*@