﻿@model IEnumerable<Skans.Models.FollowUpModel>
@{
    Layout = null;
}
@*<p>
        @Html.ActionLink("Create New", "Create")
    </p>*@
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Inquiry_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InquirerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comments)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FollowUp_Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FollowUpTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>

    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Inquiry_ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InquirerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comments)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FollowUp_Status)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.FollowUpTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            @*<td>
                    @Html.ActionLink("Edit", "Edit", new { id=item.FollowUpID }) |
                    @Html.ActionLink("Details", "Details", new { id=item.FollowUpID }) |
                    @Html.ActionLink("Delete", "Delete", new { id=item.FollowUpID })
                </td>*@
        </tr>
    }

</table>

