﻿@model Skans.Models.FollowUpModel
@{
    ViewBag.Title = "FollowUp";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*@{
        Skans.Models.Inquiry.Courseids = new int[10];
    }*@
<h2>FollowUp</h2>


<div class="form-horizontal">

    <hr />
    @Html.ValidationSummary(true)
     

    @using (Ajax.BeginForm("FollowUp", "Home", new AjaxOptions
        {
            HttpMethod = "post",
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "follow"
        }))
    {
        //ViewBag.idpack = Model.Inquiry_ID;
        @Html.AntiForgeryToken()
        if (TempData["FollowHide"] != "true")
        { 
        @Html.HiddenFor(m => m.FollowUpID)
        @Html.HiddenFor(m => m.Inquiry_ID)
        @Html.HiddenFor(m => m.InquirerName)
        <!-- Select input-->
        <div class="form-group">
            <label class="col-md-4 control-label">Inquiry Status</label>
            <div class="col-md-4 selectContainer">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-info-sign"></i></span>
                    @Html.DropDownListFor(model => model.FollowUp_Status, ViewBag.Status as IEnumerable<SelectListItem>, "FollowUp Status", new { @class = "form-control", required = "ture", id = "FollowUp" })
                </div>
            </div>
        </div>

        <!-- Text input-->
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Comments</label>
                                    <div class="col-md-4 inputGroupContainer">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="glyphicon glyphicon-comment"></i></span>
                                            @Html.EditorFor(m => m.Comments, new { htmlAttributes = new { @class = "form-control", placeholder = "Reason To follow up",required="ture",pattern="[A-Za-z]+${3,50}", title="Only Letters Allowed" } })
                                        </div>
                                    </div>
                                </div>
        <!-- Button -->
                <div class="form-group">
                    <label class="col-md-4 control-label"></label>
                    <div class="col-md-4">
                        <button type="submit" class="btn btn-info ">Submit FollowUp <span class="glyphicon glyphicon-send"></span></button>
                    </div>
                </div>
        
                                
    }
    }
</div>

<div>
    <section>
        @{
            Html.RenderAction("FollowUpList", "Home", new { id = Model.Inquiry_ID });
        }
    </section>
</div>

<div>
    @Html.ActionLink("Back", "Details", "Home", new { id = Model.Inquiry_ID }, new { @class = "btn btn-success " })
    @*Html.ActionLink("Back to List", "Index")*@
</div>

