﻿@model Skans.Models.Inquiry
@{
    ViewBag.Title = "Inquiry";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
             

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    @*<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/themes/smoothness/jquery-ui.css" />
        <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>

    <script type="text/javascript" srchttps://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>*@
    <script src="~/Scripts/jquery-2.2.3.min.js"></script>
    <script src="~/Scripts/jquery.sumoselect.js"></script>
    
    <script type="text/javascript" src="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script src="~/Scripts/bootstrapValidator.js"></script>
    <link href="~/Content/dropdownliststyle.css" rel="stylesheet" />


    <link rel="stylesheet" href="~/Content/bootstrap.min.css">
    <link href="~/Content/bootstrap-datetimepicker.min.css" rel="stylesheet" />
    <script src="~/Scripts/moment.min.js"></script>
    <script src="~/Scripts/moment.js"></script>
    <script src="~/Scripts/bootstrap-datetimepicker.min.js"></script>
    <script type="text/javascript" src="~/Scripts/moment.min.js"></script>

    <script type="text/javascript" src="~/Scripts/bootstrap-datetimepicker.js"></script>



    <title></title>
    <script type="text/javascript">
        //$(document).ready(function () {
        //    $('#datetimepicker1').datepicker();
        //});

        $(document).ready(function () {
            $('#Inquiry').change(function () {
                var status = $(this).val();
                if (status == "Already enrolled") { $("#Skanid").prop('required', true); }
                else { $("#Skanid").prop('required', false); }
            })
        });

    
$(document).ready(function () {
    window.asd = $('.SelectBox').SumoSelect({ csvDispCount: 5 });

});
$(document).ready(function () {
    $('#Sdate').val(new Date().toJSON().slice(0,19));
});


        $(document).ready(function () {
            $('#contact_form').bootstrapValidator({
                // To use feedback icons, ensure that you use Bootstrap v3.1.0 or later
                feedbackIcons: {
                    valid: 'glyphicon glyphicon-ok',
                    invalid: 'glyphicon glyphicon-remove',
                    validating: 'glyphicon glyphicon-refresh'
                },
                fields: {
                    first_name: {
                        validators: {
                            stringLength: {
                                min: 4,
                            },
                            notEmpty: {
                                message: 'Please enter your first name'
                            },
                            regexp: {
                                regexp: /^[a-zA-Z]+$/,
                                message: 'The name can only consist of alphabetics'
                            }
                        }
                    },
                    last_name: {
                        validators: {
                            stringLength: {
                                min: 4,
                            },
                            notEmpty: {
                                message: 'Please enter your last name'
                            },
                            regexp: {
                                regexp: /^[a-zA-Z]+$/,
                                message: 'The name can only consist of alphabetics'
                            }
                        }
                    },
                    email: {
                        validators: {
                            notEmpty: {
                                message: 'Please enter your email address'
                            },
                            emailAddress: {
                                message: 'Please enter a valid email address'
                            }
                        }
                    },
                    phone: {
                        validators: {
                            numeric: {
                                message: 'Please enter your phone number'
                            },
                            @*stringLength: {
                            min: 8,
                            max: 11,
                            message: 'The number must be between 8 and 11 numerics'
                        },
                        regexp: {
                            regexp: /^[0-9]+$/,
                            message: 'The phone must be a numbers'
                        }
                        validators: {
                            phone: {
                                country: 'countrySelectBox',
                                message: 'The value is not valid'  @*%s phone number'@
                            }
                        }*@
                            //phone: {
                            //    country: 'PK',
                            //    message: 'Please supply a vaild phone number with area code'
                            //}
                        }
                    },
                    phone1: {
                        validators: {
                            notEmpty: {
                                message: 'Please enter phone number'
                            },
                            phone1: {
                                country: 'PK',
                                message: 'Please enter a vaild phone number with code'
                            },
                            numeric: {
                                message: 'Please Enter numeric number!'
                            }
                        }
                    },
                    address: {
                        validators: {
                            stringLength: {
                                min: 8,
                            },
                            notEmpty: {
                                message: 'Please enter address'
                            }
                        }
                    },
                    city: {
                        validators: {
                            stringLength: {
                                min: 4,
                            },
                            notEmpty: {
                                message: 'Please enter city'
                            }
                        }
                    },
                    selct: {
                        validators: {
                            notEmpty: {
                                message: 'Please select your Field'
                            }
                        }
                    },
                    //zip: {
                    //    validators: {
                    //        notEmpty: {
                    //            message: 'Please supply your zip code'
                    //        },
                    //        zipCode: {
                    //            country: 'US',
                    //            message: 'Please supply a vaild zip code'
                    //        }
                    //    }
                    //},
                    //comment: {
                    //    validators: {
                    //        stringLength: {
                    //            min: 10,
                    //            max: 200,
                    //            message: 'Please enter at least 10 characters and no more than 200'
                    //        },
                    //        notEmpty: {
                    //            message: 'Please supply a description of your project'
                    //        }
                    //    }
                    //}
                }
            })
                .on('success.form.bv', function (e) {
                    $('#success_message').slideDown({ opacity: "show" }, "slow") // Do something ...
                    $('#contact_form').data('bootstrapValidator').resetForm();

                    // Prevent form submission
                    e.preventDefault();

                    // Get the form instance
                    var $form = $(e.target);

                    // Get the BootstrapValidator instance
                    var bv = $form.data('bootstrapValidator');

                    // Use Ajax to submit form data
                    $.post($form.attr('action'), $form.serialize(), function (result) {
                        console.log(result);
                    }, 'json');
                });
        });

    </script>

    <style>
        body {
            position: relative;
        }

        ul.nav-pills {
            top: 20px;
            position: fixed;
        }

        div.col-sm-9 div {
            height: 250px;
            font-size: 28px;
        }

        #section1 {
            color: #fff;
            background-color: #1E88E5;
        }

        #section2 {
            color: #fff;
            background-color: #673ab7;
        }

        #section3 {
            color: #fff;
            background-color: #ff9800;
        }

        #section41 {
            color: #fff;
            background-color: #00bcd4;
        }

        #section42 {
            color: #fff;
            background-color: #009688;
        }

        #success_message {
            display: none;
        }

        #section1, #section2, #section3, #section41, #section42 {
            margin-left: 150px;
        }
    </style>
</head>
<body data-spy="scroll" data-target="#myScrollspy" data-offset="20">

    <div class="container">
        @using (Html.BeginForm("Inquiry", "Home", FormMethod.Post, new { @class = "well form-horizontal form-group", @id = "PassForm", enctype = "multipart/form-data" }))
        {
            <fieldset>

                <!-- Form Name -->
                
                <legend><h2>Inquiry</h2>
                
                </legend>
                <!--Personal Detail panel-->
                <div class="panel-group ">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a id="c2"><span class="glyphicon glyphicon-plus"></span> Personal Detail</a>
                            </h4>
                        </div>
                        <div>
                            <div class="panel-body">
                                <!-- Text input-->
                                <div class="form-group">
                                    <label class="col-md-4 control-label">First Name</label>
                                    <div class="col-md-4 inputGroupContainer">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                            @Html.EditorFor(m => m.FirstName, new { htmlAttributes = new { @class = "form-control", placeholder = "First Name",required="ture",pattern="[A-Za-z]+${3,50}", title="Only Letters Allowed" } })
                                        </div>
                                    </div>
                                </div>

                                <!-- Text input-->

                                <div class="form-group">
                                    <label class="col-md-4 control-label">Last Name</label>
                                    <div class="col-md-4 inputGroupContainer">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                            @Html.EditorFor(m => m.LastName, new { htmlAttributes = new { @class = "form-control", placeholder = "Last Name", required = "ture", pattern = "[A-Za-z]+${3,50}", title = "Only Letters Allowed" } })
                                        </div>
                                    </div>
                                </div>
                                <!-- Select input-->
                                <div class="form-group">
                                    <label class="col-md-4 control-label"> Inquirer Relation</label>
                                    <div class="col-md-4 selectContainer">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="glyphicon glyphicon-list-alt"></i></span>
                                            @Html.DropDownListFor(model => model.Relation, ViewBag.Relations as IEnumerable<SelectListItem>, "Select Inquirer Relation", new { @class = "form-control", required = "ture" })
                                        </div>
                                    </div>
                                </div>
                                <!-- Select input-->
                                <!-- radio checks MAle/Female-->
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Gender</label>
                                    <div class="col-md-4">
                                        <div class="radio">
                                            <label>
                                                @Html.RadioButtonFor(m => m.gender, "Male", new { @checked = "checked" }) Male
                                            </label>
                                            <label>
                                                @Html.RadioButtonFor(m => m.gender, "Female") Female
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <!-- Text input-->
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Date of Birth</label>
                                    <div class="col-md-4 inputGroupContainer">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                            @Html.EditorFor(m => m.DOB, new { htmlAttributes = new { @class = "form-control", type = "date", min = "1930-01-01", max = "2100-12-31", required = "ture" } })
                                        </div>
                                    </div>
                                </div>
                                <!-- Select input-->
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Qualification (Latest)</label>
                                    <div class="col-md-4 selectContainer">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="glyphicon glyphicon-education"></i></span>

                                            @Html.DropDownListFor(model => model.Qualification, ViewBag.Q_list as IEnumerable<SelectListItem>, "Select Qualification", new { @class = "form-control", required = "ture" })
                                        </div>
                                    </div>
                                </div>
                                <!-- radio checks -->
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Study Last Session?</label>
                                    <div class="col-md-4">
                                        <div class="radio">
                                            <label>
                                                @Html.RadioButtonFor(m => m.lastSession, "Yes")Yes
                                            </label>
                                            <label>
                                                @Html.RadioButtonFor(m => m.lastSession, "No", new { @checked = "checked" }) No
                                            </label>
                                        </div>
                                    </div>
                                </div>

                                <!-- Text input-->
                                <div class="form-group">
                                    <label class="col-md-4 control-label">E-Mail</label>
                                    <div class="col-md-4 inputGroupContainer">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                                            @Html.EditorFor(m => m.Email, new { htmlAttributes = new { @class = "form-control", placeholder = "Email", required = "ture", type ="email" } })
                                        </div>
                                    </div>
                                </div>
                                <!-- Text input-->
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Phone </label>
                                    <div class="col-md-4 inputGroupContainer">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
                                            @Html.EditorFor(m => m.Phone, new { htmlAttributes = new { @class = "form-control", placeholder = "0423-1234567", required = "ture", pattern = "[0-9]{4}-[0-9]{7}" } })@**@
                                        </div>
                                    </div>
                                </div>
                                <!-- Text input-->
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Mobile </label>
                                    <div class="col-md-4 inputGroupContainer">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
                                            @Html.EditorFor(m => m.MobileNo, new { htmlAttributes = new { @class = "form-control", placeholder = "03451234567", required = "ture", pattern = "[0-9]{11}" } })
                                        </div>
                                    </div>
                                </div>
                                <!-- Text input-->

                                <div class="form-group">
                                    <label class="col-md-4 control-label">Address</label>
                                    <div class="col-md-4 inputGroupContainer">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
                                            @Html.EditorFor(m => m.Address, new { htmlAttributes = new { @class = "form-control", placeholder = "Address", required = "ture" } })
                                        </div>
                                    </div>
                                </div>

                                <!-- Text input-->

                                <div class="form-group">
                                    <label class="col-md-4 control-label">City</label>
                                    <div class="col-md-4 inputGroupContainer">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
                                            @Html.DropDownListFor(model => model.City, ViewBag.Cities as IEnumerable<SelectListItem>, "Please Select your City", new { @class = "form-control", required = "ture" })
                                        </div>
                                    </div>
                                </div>




                            </div>
                        </div>
                    </div>
                </div>

                <!-- Select Basic -->
                <div class="panel-group ">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a><span class="glyphicon glyphicon-plus"></span>Inquiry Detail</a>
                            </h4>
                        </div>
                       

                        <!-- Select input-->
                        <div>
                            <div class="panel-body">
                                <!-- Select input-->
                                <div class="form-group">
                                    <label class="col-md-4 control-label"> Inquiry Mode</label>
                                    <div class="col-md-4 selectContainer">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="glyphicon glyphicon-list-alt"></i></span>
                                            @Html.DropDownListFor(model => model.Inquiry_Mod, ViewBag.Mode as IEnumerable<SelectListItem>, "Select Inquiry Mode", new { @class = "form-control", required = "ture" })
                                        </div>
                                    </div>
                                </div>
                                <!-- Select input-->
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Inquiry Type</label>
                                    <div class="col-md-4 selectContainer">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="glyphicon glyphicon-list-alt"></i></span>
                                            @Html.DropDownListFor(model => model.Inquiry_Type, ViewBag.Type as IEnumerable<SelectListItem>, "Select Inquiry Type", new { @class = "form-control", required = "ture" })

                                        </div>
                                    </div>
                                </div>
                                <!-- Select input-->
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Information Source</label>
                                    <div class="col-md-4 selectContainer">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="glyphicon glyphicon-list-alt"></i></span>
                                            @Html.DropDownListFor(model => model.Info_Source, ViewBag.Source as IEnumerable<SelectListItem>, "Information Source", new { @class = "form-control", required = "ture" })
                                        </div>
                                    </div>
                                </div>
                                <!-- Text input-->
                                <!-- Text input-->
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Date & Time</label>
                                    <div class="col-md-4 inputGroupContainer">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                            @Html.EditorFor(m => m.DateOfInquiry, new { htmlAttributes = new { @class = "form-control", type = "datetime-local", min = "2016-06-14", @vlaue = DateTime.Today.ToString("yyyy-MM-ddTHH:mm:ss") , required = "ture",id="Sdate"} })
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Campus & Branch Code</label>
                                    <div class="col-md-4 inputGroupContainer">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                                         @Html.DropDownListFor(model => model.CityCampus, ViewBag.CityCampus as IEnumerable<SelectListItem>, "Select City Code", new { @class = "form-control" , required = "ture"})
                                            @Html.DropDownListFor(model => model.Branch, ViewBag.Branch as IEnumerable<SelectListItem>, "Select Branch Code", new { @class = "form-control", required = "ture" })
                                        </div>
                                    </div>
                                </div>
                                <!-- Text input-->
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Campus & Branch Code</label>
                                    <div class="col-md-4 inputGroupContainer">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                                            @Html.DropDownListFor(m => m.Courseids, (MultiSelectList)ViewBag.Subcourses, new { multiple = "multiple", @placeholder = "  Please Select Courses", @class = "SelectBox", required = "true" }) 
                                        </div>
                                    </div>
                                </div>
                              
                                <!-- Text input-->
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Others Course</label>
                                    <div class="col-md-4 inputGroupContainer">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
                                         @Html.EditorFor(m => m.Others_Course, new { htmlAttributes = new { @class = "form-control",placeholder = "Other Courses"}})
                                        </div>
                                    </div>
                                </div>

                              
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-group ">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a><span class="glyphicon glyphicon-plus"></span> Inquiry Followup Details</a>
                            </h4>
                        </div>
                        <div>
                            <div class="panel-body">
                                <!-- Select input-->
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Inquiry Status</label>
                                    <div class="col-md-4 selectContainer">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="glyphicon glyphicon-info-sign"></i></span>
                                            @Html.DropDownListFor(model => model.Inquiry_Status, ViewBag.Status as IEnumerable<SelectListItem>, "Inquiry Status", new { @class = "form-control" , required = "ture",id="Inquiry"})
                                        </div>
                                    </div>
                                </div>
                                <!-- Select input-->
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Skan ID (enrolled)</label>
                                    <div class="col-md-4 selectContainer">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="glyphicon glyphicon-info-sign"></i></span>
                                            @Html.EditorFor(model => model.Skan_id, new { htmlAttributes = new { @class = "form-control", placeholder = "SKAN ID" ,id="Skanid"} })
                                        </div>
                                    </div>
                                </div>
                                <!-- Select input-->
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Course Enrolled</label>
                                    <div class="col-md-4 selectContainer">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="glyphicon glyphicon-info-sign"></i></span>
                                            @Html.DropDownListFor(model => model.Course_Enrolled, ViewBag.Enrolled as IEnumerable<SelectListItem>, "Course Enrolled", new { @class = "form-control" , required = "ture"})
                                        </div>
                                    </div>
                                </div>
                                <!-- Text area -->

                                <div class="form-group">
                                    <label class="col-md-4 control-label">Comments</label>
                                    <div class="col-md-4 inputGroupContainer">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                                            @Html.EditorFor(model => model.Comments, new { htmlAttributes = new { @class = "form-control", placeholder = "Comment" } })
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>



                <!-- Success message -->
                <div class="alert alert-success" role="alert" id="success_message">Success <i class="glyphicon glyphicon-thumbs-up"></i> Thanks for contacting us, we will get back to you shortly.</div>

                <!-- Button -->
                <div class="form-group">
                    <label class="col-md-4 control-label"></label>
                    <div class="col-md-4">
                        <button type="submit" class="btn btn-warning ">Submit <span class="glyphicon glyphicon-send"></span></button>
                    </div>
                </div>

            </fieldset>
        }

    </div>

</body>
