﻿@*model IEnumerable<Skans.Models.Inquiry>*@
@model PagedList.IPagedList<Skans.Models.Inquiry>
@**@
@using PagedList.Mvc;
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <script src="~/Scripts/jquery-2.2.3.min.js"></script>
    <script src="~/Scripts/jquery.sumoselect.js"></script>
    <script type="text/javascript" src="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script src="~/Scripts/bootstrapValidator.js"></script>
    <link href="~/Content/dropdownliststyle.css" rel="stylesheet" />

    <link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="~/Content/bootstrap.min.css">
    <link href="~/Content/bootstrap-datetimepicker.min.css" rel="stylesheet" />
    <script src="~/Scripts/moment.min.js"></script>
    <script src="~/Scripts/moment.js"></script>
    <script src="~/Scripts/bootstrap-datetimepicker.min.js"></script>
    <script type="text/javascript" src="~/Scripts/moment.min.js"></script>

    <script type="text/javascript" src="~/Scripts/bootstrap-datetimepicker.js"></script>
    <script type ="text/javascript">
       
        $(document).ready(function () {
            

            var abc = parseInt(@ViewBag.highlight);
        if (abc!=null)
        {
        $('#'+abc).addClass("info");

        }
        });


        </script>
</head>
<body>
    


<p>
    @Html.ActionLink("Create New", "Inquiry")
</p>

<style>
    #mysearch {
        width: 250px;
    }
</style>
@using (Html.BeginForm("ShowList", "Home", FormMethod.Get))
{
    <div class="form-inline">
        <b> Search Option: </b>
        @Html.RadioButton("option", "ID")
        @Html.Label("ID")
        &nbsp;
        @Html.RadioButton("option", "FirstName",true)
        @Html.Label("FirstName")
        &nbsp;
        @Html.RadioButton("option", "LastName")
        @Html.Label("LastName")
        &nbsp;
        @Html.RadioButton("option", "status")
        @Html.Label("Inquiry Status") 
        &nbsp;
        @*Html.TextBox("search")*@

        @Html.TextBox("SearchString", "", ViewBag.CurrentFilter as string, new { @class = "form-control", placeholder = "Search by FirstName, LastName, Inquiry ID", @id = "mysearch" ,required=true})
        @*Html.TextBox("SearchID")*@
        <input class="btn btn-info" type="submit" value="Search" />
    </div>
}
    <table class="table table-hover">
        <tr>
            <th>
                @Html.Label("ID")
            </th>
            <th>
                @Html.Label("Status")
            </th>
            <th>
                @Html.Label("FirstName")
            </th>
            <th>
                @Html.Label("LastName")
            </th>
            @*<th>
        @Html.DisplayNameFor(model => model.DOB)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.Skan_id)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.CityCampus)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.Branch)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.gender)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.Qualification)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.DateOfInquiry)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.lastSession)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.Email)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.Phone)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.MobileNo)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.Address)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.City)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.Relation)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.Course)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.Others_Course)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.Inquiry_Mod)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.Info_Source)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.Inquiry_Type)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.Inquiry_Status)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.Course_Enrolled)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.Comments)
    </th>*@
            <th>
                @Html.Label("Giftcode")
            </th>
            <th></th>
        </tr>

    @if (Model.Count() == 0 || Model == null || !Model.Any())
        {
        <tr>
            <td colspan="3"> Records not found </td>
        </tr>
        }
        else 
        {
        foreach (var item in Model)
        {
            @*if(ViewBag.highlight==item.Inquiry_ID)
                {<div id="highlight" type="hidden"></div> }*@
            <tr id="@item.Inquiry_ID">
                <td>
                    @Html.DisplayFor(modelItem => item.Inquiry_ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InquiryStatus_code)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.DOB)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Skan_id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CityCampus)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Branch)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.gender)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Qualification)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateOfInquiry)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.lastSession)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Phone)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MobileNo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Address)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.City)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Relation)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Course)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Others_Course)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Inquiry_Mod)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Info_Source)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Inquiry_Type)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Inquiry_Status)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Course_Enrolled)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Comments)
                    </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.Giftcode)
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", new { id = item.Inquiry_ID })
                </td>
            </tr>
        }
        }
    </table>

    <br />
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
    @Html.PagedListPager(Model, page => Url.Action("ShowList", "Home", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
</body>